<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Ice Cream Flavor</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <div class="block">
    <a href="/">Home</a>
    <a href="/views/all/menu.ejs">Menu</a>
    <a href="/all/new">Build Your Flavor</a>
    <a href="/all/index">New Orders</a>
    <a href="/views/all/support.ejs">Contact Us</a>
  </div>
</head>

<body>

  <h1>Order Information : <%= icecream.name %>
  </h1>

  <form action="/all/<%= icecream._id %>?_method=PUT" method="POST">
    <!-- <label for="id">ID:</label>
    <input type="text" name="id" id="id" value="<%= icecream._id %>" readonly /> -->

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= icecream.name %>" required />

    <label for="brand">Brand:</label>
    <input type="text" name="brand" id="brand" value="<%= icecream.brand %>" required />

    <label for="price">Price:</label>
    <input type="number" name="price" id="price" value="<%= icecream.price %>" step="0.01" required />

    <label for="flavor">Flavor:</label>
    <input type="text" name="flavor" id="flavor" value="<%= icecream.flavor %>" required />

    <label for="toppings">Toppings:</label>
    <input type="text" name="toppings" id="toppings" value="<%= icecream.toppings %>" required />

    <label for="isReadyToEat">Ready to Eat?</label>
    <input type="checkbox" name="isReadyToEat" id="isReadyToEat" <%=icecream.isReadyToEat ? 'checked' : '' %> required/>

    <button type="submit">Update</button>
    <!-- <button type="submit">Delete</button> -->
    <!-- input-span -->
  </form>

  <!-- <a href="/all">Save and Back</a> -->
</body>

</html>
