<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ice Cream Index</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <div class="block">
    <a href="/">Home</a>
    <a href="/views/all/menu.ejs">Menu</a>
    <a href="/all/new">Build Your Flavor</a>
    <a href="/all/index">New Orders</a>
    <a href="/views/all/support.ejs">Contact Us</a>
  </div>
</head>

<body>
  <h1>Our Ice Cream Orders</h1>
  <ul>
    <% icecreams.forEach(icecream=> { %>
      <li>
        <a href="/all/<%= icecream._id %>">
          <%= icecream.flavor %> - <%= icecream.toppings %>
        </a>
      </li>
      <% }); %>
  </ul>

  <% if (typeof dec !=="undefined" && dec) { %>
    <h1>
      <%= dec.name %>
    </h1>
    <p>Brand: <%= dec.brand %>
    </p>
    <p>Flavor: <%= dec.flavor %>
    </p>
    <% } else { %>
      <!-- <p>Item not found</p> -->
      <% } %>
</body>

</html>
