<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= icecream.flavor %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <div class="block">
    <a href="/">Home</a>
    <a href="/">Menu</a>
    <a href="/all/new">Build Your Flavor</a>
    <a href="/all/index">New Orders</a>
    <a href="/all/new">Contact Us</a>
  </div>
</head>

<body>
  <h1>
    <%= icecream.name %>
  </h1>
  <form action="/all/<%= icecream._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <span id="name">
      <%= icecream.name %>
    </span>

    <label for="brand">Brand:</label>
    <span id="brand">
      <%= icecream.brand %>
    </span>

    <label for="price">Price:</label>
    <span id="price">
      <%= icecream.price %>
    </span>

    <label for="flavor">Flavor:</label>
    <span id="flavor">
      <%= icecream.flavor %>
    </span>

    <label for="toppings">Toppings:</label>
    <span id="toppings">
      <%= icecream.toppings %>
    </span>

    <label for="isReadyToEat">Ready to Eat?</label>
    <span id="isReadyToEat">
      <%= icecream.isReadyToEat ? 'Yes' : 'No' %>
    </span>

  </form>


  <div class="icecream-details">
    <!-- Show specific ice cream details -->
  </div>
  <div class="icecream-actions">
    <form class="delete-form" action="/all/<%= icecream._id %>?_method=DELETE" method="POST">
      <button class="delete-button" type="submit">
        Delete <%= icecream.flavor %>
      </button>
    </form>
    <a class="edit-link" href="/all/<%= icecream._id %>/edit">
      <div class="edit-text">Edit </div>
    </a>
  </div>
</body>

</html>
